body {
background: black;
font-family: 'dancing script', sans-serif;
font-size: 15px;
letter-spacing: 2px;
}
img {
border-radius: 50%;
}
.profile_pic {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
height: auto;
max-width: 220px;
box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 10px 8px rgba(0, 0, 0, 0.06),
  0 12.3px 7.9px rgba(0, 0, 0, 0.072),
  0 21.8px 23.4px rgba(0, 0, 0, 0.086),
  0 10px 30px rgba(0, 0, 0, 0.12)
}
.Profile_name {
text-align: center;
font-size: 15px;
padding: 40px;
color: #717c71;
}
.links {
color: white;
text-align: center;
font-family: 'Comfortaa', sans-serif;
font-size: 12px;
margin-top: 15px;
padding: 15px;
border: 1px solid white;
border-width: 1px;
width: 250px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 50px;
background: #000000;
}
a {
text-decoration: none;
}
.links:hover {
color: black;
background: #ffffff;
 position:relative;
    font-size:20px;
    width:300px;
    height:25px;
    display:block;
    z-index:999;
}
.icons w3-padding{
  gap: 10px;
}

.icons a {
  text-decoration: none;
  color: #717c71;
}

.icons a svg {
  transform: scale(1);
} 
.thumbnail {
  display:block;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  cursor: pointer;
  transition: all ease-out .5s;
}
.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: .8px .8px 10px rgba(255, 255, 255), -.8px -.8px 25px rgba(255, 255, 255)
}